<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6">
              <div class="row g-3">
                  <div class="col-6 text-start">
                      <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="img/about-1.jpg">
                  </div>
                  <div class="col-6 text-start">
                      <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="img/about-2.jpg" style="margin-top: 25%;">
                  </div>
                  <div class="col-6 text-end">
                      <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="img/about-3.jpg">
                  </div>
                  <div class="col-6 text-end">
                      <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="img/about-4.jpg">
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <h5 class="section-title ff-secondary text-start text-primary fw-normal">À propos de nous</h5>
              <h1 class="mb-4">Bienvenue chez <img src="logo/AMOS IVRIVIII LOGO.png" alt="Logo" width="100">Amosix_red_ivrivrii</h1>
              <p class="mb-4">
                  Depuis plus de 5 ans, nous mettons notre passion pour la cuisine au service de nos clients. Chez Amosix_red_ivrivrii, chaque plat est préparé avec soin, en utilisant des produits frais et locaux pour offrir une expérience culinaire authentique et savoureuse.
              </p>
              <p class="mb-4">
                  Que ce soit pour un dîner en famille, un déjeuner d'affaires ou une commande en ligne, notre équipe est dédiée à vous offrir un service chaleureux, rapide et de qualité. Venez découvrir notre menu varié, pensé pour satisfaire toutes les envies !
              </p>
          </div>
      </div>
  </div>
</div>
<!-- About End -->
