<div class="container-xxl py-5 bg-dark hero-header mb-5">
  <div class="container text-center my-5 pt-5 pb-4">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Food Menu</h1>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center text-uppercase">
              <li class="breadcrumb-item"><a href="#">Accueil</a></li>
              <li class="breadcrumb-item"><a href="#">Pages</a></li>
              <li class="breadcrumb-item text-white active" aria-current="page">Menu</li>
          </ol>
      </nav>
  </div>
</div>

<!-- Menu Start -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
          <h1 class="mb-5">Nos plats populaires</h1>
      </div>

      <!-- Menu Start -->
      <div class="container-xxl py-5">
        <div class="container">


            <!-- Boutons de navigation -->
            <ul class="nav nav-pills justify-content-center mb-5">
                <li class="nav-item"><button class="nav-link active" data-bs-toggle="pill" data-bs-target="#entrees">Entrées</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#soupes">Soupes</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#poissons">Poissons</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#poulets">Poulets Braisés</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#viandes">Viandes</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#fastfood">Fast-food</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#spaghettis">Nos Spaghettis</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#menu-kevine">Menu Kevine</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#menu-vinicius">Menu Vinicius</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#menu-yamal">Menu Yamal</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#menu-gourmand">Menu Gourmand</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#resistances">Résistances</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#accompagnements">Accompagnements</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#garnitures">Garnitures Simples</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#boissons">Boissons</button></li>
            </ul>

            <!-- Contenu des catégories -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="entrees">

                  <div class="row g-4">
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 img-fluid rounded" src="img/menu-placeholder.jpg" alt="Salade de pommes de terre" style="width: 80px;">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Salade de pommes de terre</span>
                            <span class="text-primary">3000F</span>
                          </h5>
                          <small class="fst-italic">Pommes de terre assaisonnées, servies fraîches</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 img-fluid rounded" src="img/menu-placeholder.jpg" alt="Salade macédoine légumes" style="width: 80px;">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Salade macédoine légumes</span>
                            <span class="text-primary">3500F</span>
                          </h5>
                          <small class="fst-italic">Mélange de légumes en dés et mayonnaise</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 img-fluid rounded" src="img/menu-placeholder.jpg" alt="Salade verte au thon" style="width: 80px;">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Salade verte au thon</span>
                            <span class="text-primary">3000F</span>
                          </h5>
                          <small class="fst-italic">Salade verte croquante accompagnée de thon</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 img-fluid rounded" src="img/menu-placeholder.jpg" alt="Salade aux saucisses" style="width: 80px;">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Salade aux saucisses</span>
                            <span class="text-primary">2000F</span>
                          </h5>
                          <small class="fst-italic">Salade fraîche garnie de tranches de saucisses</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 img-fluid rounded" src="img/menu-placeholder.jpg" alt="Salade aux petits pois" style="width: 80px;">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Salade aux petits pois</span>
                            <span class="text-primary">2000F</span>
                          </h5>
                          <small class="fst-italic">Petits pois assaisonnés dans une salade légère</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="soupes">
                  <div class="row g-4">
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <!-- <img class="flex-shrink-0 img-fluid rounded" src="img/menu-placeholder.jpg" alt="Soupe de poisson Tilapia" style="width: 80px;"> -->
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Soupe de poisson Tilapia</span>
                            <span class="text-primary">6000F</span>
                          </h5>
                          <small class="fst-italic">Soupe traditionnelle au Tilapia, riche en épices africaines</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <!-- <img class="flex-shrink-0 img-fluid rounded" src="img/menu-placeholder.jpg" alt="Soupe de poulet aux légumes épicés" style="width: 80px;"> -->
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Soupe de poulet aux légumes épicés</span>
                            <span class="text-primary">7000F</span>
                          </h5>
                          <small class="fst-italic">Bouillon savoureux de poulet et légumes épicés</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="poissons">
                  <div class="row g-4">
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <!-- <img class="flex-shrink-0 img-fluid rounded" src="img/menu-placeholder.jpg" alt="Poisson braisé" style="width: 80px;"> -->
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Poisson braisé</span>
                            <span class="text-primary">À partir de 7000F</span>
                          </h5>
                          <small class="fst-italic">Servi avec attiéké, aloco, pommes sautées ou salade</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <!-- <img class="flex-shrink-0 img-fluid rounded" src="img/menu-placeholder.jpg" alt="Sifio Pinon façon IVRIVRI" style="width: 80px;"> -->
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Sifio Pinon façon IVRIVRI</span>
                            <span class="text-primary">6000F - 12000F</span>
                          </h5>
                          <small class="fst-italic">Spécialité maison à base de poisson frit ou braisé</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="poulets"></div>
                <div class="tab-pane fade" id="viandes"></div>
                <div class="tab-pane fade" id="fastfood"></div>
                <div class="tab-pane fade" id="spaghettis"></div>
                <div class="tab-pane fade" id="menu-kevine"></div>
                <div class="tab-pane fade" id="menu-vinicius"></div>
                <div class="tab-pane fade" id="menu-yamal"></div>
                <div class="tab-pane fade" id="menu-gourmand"></div>
                <div class="tab-pane fade" id="resistances"></div>
                <div class="tab-pane fade" id="accompagnements"></div>
                <div class="tab-pane fade" id="garnitures"></div>
                <div class="tab-pane fade" id="boissons"></div>
            </div>
        </div>
      </div>
      <!-- Menu End -->


  </div>
</div>
<!-- Menu End -->
