<div class="container-xxl py-5 bg-dark hero-header mb-5">
  <div class="container text-center my-5 pt-5 pb-4">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Food Menu</h1>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center text-uppercase">
              <li class="breadcrumb-item"><a routerLink="">Accueil</a></li>
              <li class="breadcrumb-item text-white active" aria-current="page">Menu</li>
          </ol>
      </nav>
  </div>
</div>

<!-- Menu Start -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
          <h1 class="mb-5">Nos plats populaires</h1>
      </div>

      <!-- Menu Start -->
      <div class="container-xxl py-5">
        <div class="container">


            <!-- Boutons de navigation -->
            <ul class="nav nav-pills justify-content-center mb-5">
                <li class="nav-item"><button class="nav-link active" data-bs-toggle="pill" data-bs-target="#entrees">Entrées</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#soupes">Soupes</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#poissons">Poissons</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#poulets">Poulets Braisés</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#viandes">Viandes</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#fastfood">Fast-food</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#spaghettis">Nos Spaghettis</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#menu-kevine">Menu Kevine</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#menu-vinicius">Menu Vinicius</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#menu-yamal">Menu Yamal</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#menu-gourmand">Menu Gourmand</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#resistances">Résistances</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#accompagnements">Accompagnements</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#garnitures">Garnitures Simples</button></li>
                <li class="nav-item"><button class="nav-link" data-bs-toggle="pill" data-bs-target="#boissons">Boissons</button></li>
            </ul>

            <!-- Contenu des catégories -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="entrees">

                  <div class="row g-4">
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Salade de pommes de terre</span>
                            <span class="text-primary">3000F</span>
                          </h5>
                          <small class="fst-italic">Pommes de terre assaisonnées, servies fraîches</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Salade macédoine légumes</span>
                            <span class="text-primary">3500F</span>
                          </h5>
                          <small class="fst-italic">Mélange de légumes en dés et mayonnaise</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Salade verte au thon</span>
                            <span class="text-primary">3000F</span>
                          </h5>
                          <small class="fst-italic">Salade verte croquante accompagnée de thon</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Salade aux saucisses</span>
                            <span class="text-primary">2000F</span>
                          </h5>
                          <small class="fst-italic">Salade fraîche garnie de tranches de saucisses</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Salade aux petits pois</span>
                            <span class="text-primary">2000F</span>
                          </h5>
                          <small class="fst-italic">Petits pois assaisonnés dans une salade légère</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="soupes">
                  <div class="row g-4">
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <!-- <img class="flex-shrink-0 img-fluid rounded" src="img/menu-placeholder.jpg" alt="Soupe de poisson Tilapia" style="width: 80px;"> -->
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Soupe de poisson Tilapia</span>
                            <span class="text-primary">6000F</span>
                          </h5>
                          <small class="fst-italic">Soupe traditionnelle au Tilapia, riche en épices africaines</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <!-- <img class="flex-shrink-0 img-fluid rounded" src="img/menu-placeholder.jpg" alt="Soupe de poulet aux légumes épicés" style="width: 80px;"> -->
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Soupe de poulet aux légumes épicés</span>
                            <span class="text-primary">7000F</span>
                          </h5>
                          <small class="fst-italic">Bouillon savoureux de poulet et légumes épicés</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="poissons">
                  <div class="row g-4">
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <!-- <img class="flex-shrink-0 img-fluid rounded" src="img/menu-placeholder.jpg" alt="Poisson braisé" style="width: 80px;"> -->
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Poisson braisé</span>
                            <span class="text-primary">À partir de 7000F</span>
                          </h5>
                          <small class="fst-italic">Servi avec attiéké, aloco, pommes sautées ou salade</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <!-- <img class="flex-shrink-0 img-fluid rounded" src="img/menu-placeholder.jpg" alt="Sifio Pinon façon IVRIVRI" style="width: 80px;"> -->
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Sifio Pinon façon IVRIVRI</span>
                            <span class="text-primary">6000F - 12000F</span>
                          </h5>
                          <small class="fst-italic">Spécialité maison à base de poisson frit ou braisé</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="poulets">
                  <div class="row g-4">
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <!-- <img class="flex-shrink-0 img-fluid rounded" src="img/menu-placeholder.jpg" alt="Poulet yassa IVRIVRI" style="width: 80px;"> -->
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Poulet Yassa IVRIVRI</span>
                            <span class="text-primary">6000F - 9000F</span>
                          </h5>
                          <small class="fst-italic">Servi avec du riz blanc</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <!-- <img class="flex-shrink-0 img-fluid rounded" src="img/menu-placeholder.jpg" alt="Poulet braisé moutarde épicée" style="width: 80px;"> -->
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Poulet braisé à la moutarde épicée</span>
                            <span class="text-primary">5000F - 9000F</span>
                          </h5>
                          <small class="fst-italic">Poulet tendre assaisonné à la moutarde</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <!-- <img class="flex-shrink-0 img-fluid rounded" src="img/menu-placeholder.jpg" alt="Poulet braisé (variétés)" style="width: 80px;"> -->
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Poulet braisé (Légume, moutarde, citron)</span>
                            <span class="text-primary">6000F - 10000F</span>
                          </h5>
                          <small class="fst-italic">Au choix : braisé aux légumes, moutarde ou citron</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="viandes">
                  <div class="row g-4">
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>1/4 de Poulet</span>
                            <span class="text-primary">3000F</span>
                          </h5>
                          <small class="fst-italic">Portion généreuse, tendre et bien grillée</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>1/2 Poulet</span>
                            <span class="text-primary">4500F - 5000F</span>
                          </h5>
                          <small class="fst-italic">À partager ou à savourer en solo</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Poulet entier</span>
                            <span class="text-primary">7000F - 8000F</span>
                          </h5>
                          <small class="fst-italic">Idéal pour les grandes faims ou les groupes</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Poulet pané • Frites • Salade de choux</span>
                            <span class="text-primary">4500F</span>
                          </h5>
                          <small class="fst-italic">Croustillant à souhait avec accompagnements</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Steak de bœuf • Sauce crème</span>
                            <span class="text-primary">6000F</span>
                          </h5>
                          <small class="fst-italic">Délicieux steak nappé d’une sauce onctueuse</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="fastfood">
                  <div class="row g-4">
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Burger / Shawarma simple</span>
                            <span class="text-primary">1000F</span>
                          </h5>
                          <small class="fst-italic">Version classique, savoureuse et rapide</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Burger / Shawarma dosé</span>
                            <span class="text-primary">2000F - 3000F</span>
                          </h5>
                          <small class="fst-italic">Plus garni pour plus de plaisir</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Burger / Shawarma épicé</span>
                            <span class="text-primary">1500F</span>
                          </h5>
                          <small class="fst-italic">Pour les amateurs de sensations fortes</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Shawarma aux saucisses</span>
                            <span class="text-primary">3000F</span>
                          </h5>
                          <small class="fst-italic">Généreusement garni, idéal pour les grosses faims</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Hot-Dog</span>
                            <span class="text-primary">3000F</span>
                          </h5>
                          <small class="fst-italic">Sauce moutarde, mayo, ketchup, persil, saucisse, tomate, oignon</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="spaghettis">
                  <div class="row g-4">
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Spaghettis bolognaise</span>
                            <span class="text-primary">4000F</span>
                          </h5>
                          <small class="fst-italic">Recette classique à la viande hachée, sauce tomate</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Spaghettis rouge / blanc (viande de bœuf)</span>
                            <span class="text-primary">1500F</span>
                          </h5>
                          <small class="fst-italic">Au choix : sauce rouge ou blanche, bœuf tendre</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Spaghettis (viande + saucisses)</span>
                            <span class="text-primary">2000F</span>
                          </h5>
                          <small class="fst-italic">Un mélange savoureux de viande et saucisses</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Spaghettis (viande + œuf) IVRIVRI</span>
                            <span class="text-primary">2500F</span>
                          </h5>
                          <small class="fst-italic">Version spéciale IVRIVRI avec œuf et viande</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Spaghettis (viande, saucisse, œuf)</span>
                            <span class="text-primary">3000F</span>
                          </h5>
                          <small class="fst-italic">La totale pour les vrais gourmands</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="menu-kevine">
                  <div class="row g-4">
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Menu KEVINE</span>
                            <span class="text-primary">6000F</span>
                          </h5>
                          <small class="fst-italic">Riz aux légumes, viande de bœuf, petits pois</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="menu-vinicius">
                  <div class="row g-4">
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Menu VINICIUS</span>
                            <span class="text-primary">5000F</span>
                          </h5>
                          <small class="fst-italic">Riz blanc au petit pois, poulet et canette</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="menu-yamal">
                  <div class="row g-4">
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Menu YAMAL</span>
                            <span class="text-primary">5000F</span>
                          </h5>
                          <small class="fst-italic">Akumé aux petits poissons (traditionnel et savoureux)</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Menu YAMAL (variation)</span>
                            <span class="text-primary">5000F</span>
                          </h5>
                          <small class="fst-italic">Ébésséssi + petits poissons</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="menu-gourmand">
                  <div class="row g-4">
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Menu Gourmand</span>
                            <span class="text-primary">5000F</span>
                          </h5>
                          <small class="fst-italic">Frites, saucisses, omelettes + canettes</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="resistances">
                  <div class="row g-4">
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Riz au gras, attiéké, frites, aloko, couscous, pommes sautées, riz blanc, riz sauce au soja, djékoumé, akpan...</span>
                            <span class="text-primary">15000F</span>
                          </h5>
                          <small class="fst-italic">Menu complet au choix (Bœuf / Poulet) + accompagnements variés</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Riz, frites, alloco, poulet, shawarma, canette</span>
                            <span class="text-primary">10000F</span>
                          </h5>
                          <small class="fst-italic">Plateau Ballon d’Or, un vrai régal à partager</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="accompagnements">
                  <div class="row g-4">
                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Riz, couscous, attiéké, aloko (simple)</span>
                            <span class="text-primary">2000F</span>
                          </h5>
                          <small class="fst-italic">Au choix parmi nos accompagnements traditionnels</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Frites</span>
                            <span class="text-primary">1500F - 2000F</span>
                          </h5>
                          <small class="fst-italic">Frites dorées et croustillantes</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Ragoût de pommes de terre aux légumes</span>
                            <span class="text-primary">Non spécifié</span>
                          </h5>
                          <small class="fst-italic">Délicieux mélange de légumes mijotés avec pommes de terre</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="d-flex align-items-center">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                          <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Pommes de terre sautées aux viandes hachées IVRIVRI</span>
                            <span class="text-primary">5000F</span>
                          </h5>
                          <small class="fst-italic">Recette signature riche et savoureuse</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="garnitures"></div>
                <div class="tab-pane fade" id="boissons"></div>
            </div>
        </div>
      </div>
      <!-- Menu End -->


  </div>
</div>
<!-- Menu End -->
