
<!-- Navbar & Hero Start -->
      <div class="container-xxl position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-red bg-red px-4 px-lg-5 py-3 py-lg-0" style="background-color: #8B060A;">
            <a href="" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class=""></i></h1>
                <img src="logo/AMOS IVRIVIII LOGO.png" alt="Logo" style="width: auto; height: auto;" >
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0 pe-4">
                    <a routerLink="" class="nav-item nav-link active">Accueil</a>
                    <a routerLink="about" class="nav-item nav-link">A propos</a>
                    <a routerLink="service" class="nav-item nav-link">Service</a>
                    <a routerLink="menu" class="nav-item nav-link">Menu</a>
                    <a routerLink="contact" class="nav-item nav-link">Contacts</a>
                </div>
            </div>
        </nav>


    </div>
    <!-- Navbar & Hero End -->
